<launch>
  <!-- <param name="/use_sim_time" value="true"/> -->
  
  <!-- rosbag rate -->
  <arg name="rate" default="1" />
  <!-- Sync -->
  <node pkg="naive_sync" type="naive_sync" name="naive_sync" output="screen">
    <remap from="/image_raw" to="/kitti/camera_color_left/image_raw"/>
    <remap from="/odom" to="/kitti/oxts/imu"/>
    <remap from="/pointcloud04" to="/kitti/velo/pointcloud"/>
    <remap from="/pointcloud03" to="/ns3/velodyne_points"/>
    <remap from="/pointcloud05" to="/ns5/velodyne_points"/>
    <remap from="/pointcloud01" to="/ns1/velodyne_points"/>
    <remap from="/pointcloud02" to="/ns2/velodyne_points"/>
    <param name="num_of_lidar" type="int" value="1"/>
    <param name="lidar_hz" type="int" value="10"/>
    <param name="correct_distortion" type="bool" value="false"/>
  </node>  
  <!-- rosbag player -->
  <node pkg="rosbag" type="play" name="player" args=" -r $(arg rate) /home/vince/Documents/KITTI/kitti_2011_09_26_drive_0009_synced.bag"/>
</launch>